- var user = {name: 'tobi'};
div(data-user=user)
div(data-user!=user)
div(data-items=[1,2,3,])
div(data-username='tobi')
div(data-escaped={message: "Let's rock!"})
div(data-unescaped!={message: "Let's rock!"})
div(data-ampersand={message: "a quote: &quot; this & that"})
div(data-epoc=new Date(0))