ul
    li foo

    li bar

    li baz

p

p.

p

p
    | foo
    | bar
    |
    |
    | baz

p.
    foo


    bar
    baz

.

.

pre
    | foo
    |   bar
    |     baz
    | .

pre.
    foo
        bar
            baz
        .

.
    foo
        bar
            baz
        .

p
    | foo
    | bar
    |
    |
    | <span>i am span</span>
    span i am second span
    | baz


p.
    foo
    bar


    <span> i am span</span>
    #[span i am second span]
    span I am third span
    baz