//- this is considered as inline text which is not escaped by default
script.
    var re = /\d+/;

script
    //- this is considered as inline text which is not escaped by default
    | var re = /\d+/;