script
    // uglify
    :uglify-js
        (function () {
            console.log('test');
        })();
    // uglify + cdata
    :cdata:uglify-js
        (function () {
            console.log('test');
        })();

script
    // coffee-script
    :coffee-script
        (->
          console.log 'test'
        )()
    // uglify + coffee-script
    :uglify-js:coffee-script
        (->
          console.log 'test'
        )()
    // cdata + uglify + coffee-script
    :cdata:uglify-js:coffee-script
        (->
          console.log 'test'
        )()