+centered#First Hello World

+centered('Section 1')#Second
    p Some important content.

+centered('Section 2')#Third.foo(href='menu.html', class='bar')
    p Even more important content.

+main('Section 3')(href='#')
    p Last content.

+bottom.foo(class='bar', name='end', id='Last', data-attr='baz')
    p Some final words.

+bottom(class=['class1', 'class2'])


- var val = '<biz>'
- var classes = ['foo', 'bar']
+foo(attr3='baz' data-foo=val data-bar!=val class=classes).thunk

+foo(
attr3="qux"
class="baz"
)

+work_filmstrip_item('work')("data-profile"='profile', "data-creator-name"='name')

+my-mixin(
'1',
'2',
'3',
'4'
)