+form('GET', '/search')
    input(type='text', name='query', placeholder='Search')
    input(type='submit', value='Search')

+form('POST', '/search')
    input(type='text', name='query', placeholder='Search')
    input(type='submit', value='Search')

+form('POST', '/search')

+foo
    p one
    p two
    p three

+baz()= '123'