
<body>
  <div>
    <p class="bar hello">One</p>
    <p class="baz quux hello">Two</p>
    <p class="hello">Three</p>
    <p class="bar baz foo hello">Four</p>
  </div>
  <div>
    <p class="bar" id="world">One</p>
    <p class="baz quux" id="world">Two</p>
    <p id="world">Three</p>
    <p class="bar baz foo" id="world">Four</p>
  </div>
  <div>
    <p class="bar hello" id="world">One</p>
    <p class="baz quux hello" id="world">Two</p>
    <p class="hello" id="world">Three</p>
    <p class="bar baz foo hello" id="world">Four</p>
  </div>
  <div>
    <p class="bar hello world">One</p>
    <p class="baz quux hello world">Two</p>
    <p class="hello world">Three</p>
    <p class="bar baz foo hello world">Four</p>
  </div>
  <div>
    <p class="bar hello">One</p>
    <p class="baz quux hello">Two</p>
    <p class="hello">Three</p>
    <p class="bar baz foo hello">Four</p>
  </div>
  <div>
    <p class="bar hello world" id="next">One</p>
    <p class="baz quux hello world" id="next">Two</p>
    <p class="hello world" id="next">Three</p>
    <p class="bar baz foo hello world" id="next">Four</p>
  </div>
  <div>
    <p class="bar hello world" id="next">One</p>
    <p class="baz quux hello world" id="next">Two</p>
    <p class="hello world" id="next">Three</p>
    <p class="bar baz foo hello world" id="next">Four</p>
  </div>
  <div>
    <p class="bar">One</p>
    <p class="baz quux">Two</p>
    <p>Three</p>
    <p class="bar baz foo">Four</p>
  </div>
  <div>
    <p class="bar hello" id="world">One</p>
    <p class="baz quux hello" id="world">Two</p>
    <p class="hello" id="world">Three</p>
    <p class="bar baz foo hello" id="world">Four</p>
  </div>
</body>