mixin foo
    div
        p.bar&attributes(attributes) One
        p.baz.quux&attributes(attributes) Two
        p&attributes(attributes) Three
        p.bar(class="baz")&attributes(attributes)(class="foo") Four

body
    +foo.hello
    +foo#world
    +foo.hello#world
    +foo.hello.world
    +foo(class="hello")
    +foo.hello(class="world" id="next")
    +foo.hello(class="world", id="next")
    +foo
    +foo&attributes({class: "hello", id: "world"})
