
<h1>Attributes</h1>
<a href="google.com">Google</a>
<a class="button" href="google.com">Google</a>
<a class="button" href="google.com">Google</a>

<h4>JavaScript Expressions</h4>
<div class="authed"></div>

<h2>Multiline attributes</h2>
<input type="checkbox" name="agreement" checked="checked"/>

<h4>ES2015 Template Strings</h4>
<input data-json="
  {
    &quot;very-long&quot;: &quot;piece of &quot;,
    &quot;data&quot;: true
  }
"/>

<h2>Quoted attributes</h2>
<div class="div-class" (click)="play()"></div>
<div class="div-class" (click)="play()"></div>

<h2>Attribute Interpolation</h2>
<a href="/pug-test.html">Link</a>
<a href="https://www.example.com">Another Link</a>
<button class="btn btn-info btn-lg" type="button"></button>
<button class="btn btn-info btn-lg" type="button"></button>

<h2>Unescaped Attributes</h2>
<div escaped="&lt;code&gt;"></div>
<div escaped="<code>"></div>

<h2>Boolean Attributes</h2>
<input type="checkbox" checked="checked"/>
<input type="checkbox" checked="checked"/>
<input type="checkbox"/>
<input type="checkbox" checked="true"/>


<!DOCTYPE html>
<input type="checkbox" checked>
<input type="checkbox" checked>
<input type="checkbox">
<input type="checkbox" checked="checked">

<h2>Style Attributes</h2>
<a style="color:red;background:green"></a>
<a style="color:red;background:green;"></a>

<h2>Class Attributes</h2>
<a class="foo bar baz"></a>
<a class="foo bar baz bing"></a>
<a href="/">Home</a>
<a class="active" href="/">About</a>

<h2>Class Literal</h2>
<a class="button"></a>
<div class="content"></div>

<h2>ID Literal</h2>
<a id="main-link"></a>
<div id="content"></div>

<h2>&attributes</h2>

<div id="foo" data-bar="foo" data-foo="bar"></div>
<div class="baz" id="foo" data-bar="foo"></div>