extends ../base

block config
    - pageTitle = 'Pug :: Attributes'

block main
    // --------------- Start : ../includes/incl-attributes ---------------
    h1 Basic
    include ../includes/incl-attributes
    // --------------- End : ../includes/incl-attributes ---------------


    // --------------- Start : ../includes/incl-attributes-data ---------------
    h1 Attributes Data
    include ../includes/incl-attributes-data
    // --------------- End : ../includes/incl-attributes-data ---------------


    // --------------- Start : ../includes/incl-attributes-colon ---------------
    h1 Attributes Colon
    include ../includes/incl-attributes-colon
    // --------------- End : ../includes/incl-attributes-colon ---------------


    // --------------- Start : ../includes/incl-attributes-js ---------------
    h1 Attributes JS
    include ../includes/incl-attributes-js
    // --------------- End : ../includes/incl-attributes-js ---------------


    // --------------- Start : ../includes/incl-attributes-unescaped ---------------
    h1 Attributes Unescaped
    include ../includes/incl-attributes-unescaped
    // --------------- End : ../includes/incl-attributes-unescaped ---------------
