<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Attributes</title>
  </head>
  <body>
    <h1>Attributes</h1><a href="/contact">contact</a><a class="button" href="/save">save</a><a foo bar baz></a><a foo="foo, bar, baz" bar="1"></a><a foo="((foo))" bar="1"></a>
    <select>
      <option value="foo" selected>Foo</option>
      <option selected value="bar">Bar</option>
    </select><a foo="class:"></a>
    <input pattern="\S+"><a href="/contact">contact</a><a class="button" href="/save">save</a><a foo bar baz></a><a foo="foo, bar, baz" bar="1"></a><a foo="((foo))" bar="1"></a>
    <select>
      <option value="foo" selected>Foo</option>
      <option selected value="bar">Bar</option>
    </select><a foo="class:"></a>
    <input pattern="\S+">
    <foo terse="true"></foo>
    <foo date="1970-01-01T00:00:00.000Z"></foo>
    <foo abc def></foo>
    <foo abc def></foo>
    <foo abc def></foo>
    <foo abc def></foo>
    <foo abc def></foo>
    <foo abc def></foo>
    <div foo="bar" bar="<baz>"></div><a foo="foo" bar="bar"></a><a foo="foo" bar="bar"></a>
    <h1>Data Attributes</h1>
    <div data-user="{&quot;name&quot;:&quot;tobi&quot;}"></div>
    <div data-user='{"name":"tobi"}'></div>
    <div data-items="[1,2,3]"></div>
    <div data-username="tobi"></div>
    <div data-escaped="{&quot;message&quot;:&quot;Let's rock!&quot;}"></div>
    <div data-unescaped='{"message":"Let&#39;s rock!"}'></div>
    <div data-ampersand="{&quot;message&quot;:&quot;a quote: &amp;quot; this &amp; that&quot;}"></div>
    <div data-epoc="1970-01-01T00:00:00.000Z"></div>
    <h1>Colon Attributes</h1>
    <!-- Tests for using a colon-prefexed attribute (typical when using short-cut for Vue.js `v-bind`)-->
    <div :my-var="model"></div>
    <span v-for="item in items" :key="item.id" :value="item.name"></span>
    <span v-for="item in items" :key="item.id" :value="item.name"></span>
    <a :link="goHere" value="static" :my-value="dynamic" @click="onClick()" :another="more">Click Me!</a>
    <h1>Attributes Using JS</h1>
    
    <!-- Attributes comma seperated-->
    <a class="button" href="/user/5"></a>
    <a class="button" href="/user/5"></a>
    <meta key="answer" value="42">
    <a class="class1 class2"></a>
    <a class="tag-class class1 class2"></a>
    
    <!-- Attributes space seperated-->
    <a class="button" href="/user/5"></a>
    <a class="button" href="/user/5"></a>
    <meta key="answer" value="42">
    <a class="class1 class2"></a>
    <a class="tag-class class1 class2"></a>
    
    <!-- Attributes as object-->
    
    <div id="5" foo="bar" bar="foo"></div>
    <div baz="baz"></div>
    <h1>Attributes Unescaped</h1>
    <script type="text/x-template">
      <div id="user-<%= user.id %>">
        <h1><%= user.title %></h1>
      </div>
    </script>
  </body>
</html>