extends ../base
block config
    - pageTitle = "Pug :: Basic";

block main
    h1 "Basic - Blanks"
    include ../includes/basic

    h1 Inline Tags
    include ../includes/inline-tag

    h1 Blockquote
    include ../includes/blockquote

    h1 Self Closing HTML
    include ../includes/self-closing-html

    h1 Variables
    include ../includes/vars

    h1 Form fields
    include ../includes/form-fields

