<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: basic</title>
  </head>
  <body>
    <!-- --------------- Start : ../includes/incl-basic ----------------->
    <h1>Basic</h1>
    <html>
      <head></head>
      <body>
        <h1>Title</h1>
        <!-- blockquote-->
        <figure>
          <blockquote>Try to define yourself by what you do, and you&#8217;ll burnout every time. You are. That is enough. I rest in that.</blockquote>
          <figcaption>from @thefray at 1:43pm on May 10</figcaption>
        </figure>
        <!-- /blockquote-->
        <!-- pre-->
        <pre>foo
bar
baz
</pre>
        <pre><code>foo
bar
baz</code></pre>
        <!--/pre-->
      </body>
    </html>
    <!-- --------------- End : ../includes/incl-basic ----------------->
    <!-- --------------- Start : ../includes/incl-blanks ----------------->
    <h1>Blanks</h1>
    <ul>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
    </ul>
    <!-- --------------- End : ../includes/incl-blanks ----------------->
    <!-- --------------- Start : ../includes/incl-comments ----------------->
    <h1>Comments</h1>
    <!-- Start: Buffered single line comment-->
    <!-- foo-->
    <ul>
      <!-- bar-->
      <li>one</li>
      <!-- baz-->
      <li>two</li>
    </ul>
    <!-- End: Buffered single line comment-->
    <!-- Start: Block comment - Buffered multi line comment-->
    <!--
    ul
        li foo
    -->
    <!-- End: Block comment - Buffered multi line comment-->
    <!-- block
    // inline follow
    li three
    -->
    <!-- block
    // inline followed by tags
    ul
      li four
    
    -->
    <!--if IE lt 9
    // inline
    script(src='/lame.js')
    // end-inline
    
    -->
    <p>five</p>
    <div class="foo">// not a comment</div>
    <!-- --------------- End : ../includes/incl-comments ----------------->
    <!-- --------------- Start : ../includes/incl-pipeless-tags ----------------->
    <h1>Pipeless tags</h1>
    <pre>what
is going on</pre>
    <!-- --------------- End : ../includes/incl-pipeless-tags ----------------->
    <!-- --------------- Start : ../includes/incl-quotes ----------------->
    <h1>Quotes</h1>
    <p>"foo"</p>
    <p>'foo'</p>
    <!-- --------------- End : ../includes/incl-quotes ----------------->
    <!-- --------------- Start : ../includes/incl-block-expansion ----------------->
    <h1>Block Expansion</h1>
    <ul>
      <li><a href="#">foo <img src="src"/></a></li>
      <li><a href="#">bar <img src='src' /></a></li>
    </ul>
    <p>baz</p>
    <ul>
      <li class="list-item">
        <div class="foo">
          <div id="bar">baz</div>
        </div>
      </li>
    </ul>
    <!-- --------------- End : ../includes/incl-block-expansion ----------------->
    <!-- --------------- Start : ../includes/incl-variables ----------------->
    <h1>Variables</h1><a class="1 2 3" id="bar"></a>
    <!-- --------------- End : ../includes/incl-variables ----------------->
    <!-- --------------- Start : ../includes/incl-variables ----------------->
    <h1>Variables</h1>
    <script type="text/x-template">
      <article>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
      </article>
    </script>
    <script type="text/x-template">
      article
      h2 {{title}}
      p {{description}}
    </script>
    <!-- --------------- End : ../includes/incl-variables ----------------->
    <!-- --------------- Start : ../includes/incl-self-closing ----------------->
    <h1>Self Closing</h1>
    <foo></foo>
    <foo bar="baz"></foo>
    <foo/>
    <foo bar="baz"/>
    <foo>/</foo>
    <foo bar="baz">/</foo>
    <foo/>
    <foo bar="baz"/>
    <foo>/</foo>
    <foo bar="baz">/</foo><img><img>
    <foo/>
    <!-- --------------- End : ../includes/incl-self-closing ----------------->
    <!-- --------------- Start : ../includes/incl-text ----------------->
    <h1>Text</h1>
    <p></p>
    <p></p>
    <p>
      foo
      bar
      
      
      baz
    </p>
    <p>
      foo
      
      
      bar
      baz
    </p>foo
    
    
    bar
    baz
    
    
    <pre>foo
  bar
    baz
.</pre>
    <pre>foo
  bar
    baz
.

</pre>foo
        bar
            baz
    .
    <!-- --------------- End : ../includes/incl-text ----------------->
    <!-- --------------- Start : ../includes/incl-form-fields ----------------->
    <h1>Form Fields</h1>
    <select>
      <option value="">-- (selected) --</option>
    </select>
    <label>Username:
      <input type="text" name="user[name]">
    </label>
    <label>Password:
      <input type="text" name="user[pass]">
    </label>
    <!-- --------------- End : ../includes/incl-form-fields ----------------->
    <!-- --------------- Start : ../includes/incl-source ----------------->
    <h1>Source</h1>
    <audio preload="auto" autobuffer controls>
      <source src="foo">
      <source src="bar">
    </audio>
    <!-- --------------- End : ../includes/incl-source ----------------->
    <!-- --------------- Start : ../includes/incl-source ----------------->
    <h1>Source</h1><span>.</span>
    <!-- --------------- End : ../includes/incl-source ----------------->
    <!-- --------------- Start : ../includes/incl-namespace ----------------->
    <h1>Namespace</h1>
    <fb:user:role>Something</fb:user:role>
    <foo fb:foo="bar"></foo>
    <!-- --------------- End : ../includes/incl-namespace ----------------->
    <!-- --------------- Start : ../includes/incl-nesting ----------------->
    <h1>Nesting</h1>
    <ul>
      <li>a</li>
      <li>b</li>
      <li>
        <ul>
          <li>c</li>
          <li>d</li>
        </ul>
      </li>
      <li>e</li>
    </ul>
    <!-- --------------- End : ../includes/incl-nesting ----------------->
  </body>
</html>