extends ../base
block config
    - pageTitle = "Pug :: basic"

block main
    // --------------- Start : ../includes/incl-basic ---------------
    h1 Basic
    include ../includes/incl-basic
    // --------------- End : ../includes/incl-basic ---------------

    // --------------- Start : ../includes/incl-blanks ---------------
    h1 Blanks
    include ../includes/incl-blanks
    // --------------- End : ../includes/incl-blanks ---------------

    // --------------- Start : ../includes/incl-comments ---------------
    h1 Comments
    include ../includes/incl-comments
    // --------------- End : ../includes/incl-comments ---------------