<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Basic</title>
  </head>
  <body>
    <h1>"Basic - Blanks"</h1>
    <ul>
      <li>foo</li>
      <li>bar</li>
      <li>baz</li>
    </ul>
    <p></p>
    <p></p>
    <p></p>
    <p>
      foo
      bar
      
      
      baz
    </p>
    <p>
      foo
      
      
      bar
      baz
      
    </p>
    <pre>foo
  bar
    baz
.</pre>
    <pre>foo
    bar
        baz
    .
</pre>foo
        bar
            baz
        .
    
    <p>
      foo
      bar
      
      
      <span>i am span</span><span>i am second span</span>baz
    </p>
    <p>
      foo
      bar
      
      
      <span> i am span</span>
      <span>i am second span</span>
      span I am third span
      baz
    </p>
    <h1>"Quotes"</h1>
    <p>"foo"</p>
    <p>'foo'</p>
    <h1>Inline Tags</h1>
    <p>bing <strong>foo</strong> bong</p>
    <p>
      bing
      <strong>foo</strong>
      <strong>[foo]</strong>
      
      <strong>foo]</strong>
      bong
      
    </p>
    <p>
      bing
      <strong>foo</strong>
      <strong>[foo]</strong>
      
      <strong>foo]</strong>
      bong
    </p>
    <p>
      #[strong escaped]
      #[<strong>escaped</strong>]
    </p>
    <h1>Block Expansion</h1>
    <!-- without block expansion-->
    <ul>
      <li><a href="#">foo<img src="http://placekitten.com/200/300"></a></li>
      <li><a href="#">bar<img src="http://placekitten.com/200/300"></a></li>
    </ul>
    <!-- /without block expansion-->
    <!-- with block expansion-->
    <ul>
      <li><a href="#">foo<img src="http://placekitten.com/200/300"></a></li>
      <li><a href="#">bar<img src="http://placekitten.com/200/300"></a></li>
    </ul>
    <!-- /with block expansion-->
    <p>baz</p>
    <h1>Block Expansion Shorthands</h1>
    <ul>
      <li class="list-item">
        <div class="foo">
          <div id="bar">baz</div>
        </div>
      </li>
    </ul>
    <h1>Blockquote</h1>
    <figure>
      <blockquote>Try to define yourself by what you do, and you&#8217;ll burnout every time. You are. That is enough. I rest in that.</blockquote>
      <figcaption>from @thefray at 1:43pm on May 10</figcaption>
    </figure>
    <h1>Self Closing HTML</h1><br/><img/>
    <h1>Variables</h1>
    <a class="1 2 3" id="bar"></a>
    <h1>Form fields</h1>
    <select>
      <option value="">-- selected --</option>
    </select>
    <label>Username:
      <input type="text" name="user[name]">
    </label>
    <label>Password:
      <input type="text" name="user[pass]">
    </label>
    <h1>Pre</h1>
    <pre>foo
bar
baz
</pre>
    <pre><code>foo
bar
baz
</code></pre>
    <pre>foo
bar
baz</pre>
    <pre><code>foo
bar
baz</code></pre>
  </body>
</html>