extends ../base
block config
    - pageTitle = "Pug :: basic"

block main
    // --------------- Start : ../includes/incl-basic ---------------
    h1 Basic
    include ../includes/incl-basic
    // --------------- End : ../includes/incl-basic ---------------

    // --------------- Start : ../includes/incl-blanks ---------------
    h1 Blanks
    include ../includes/incl-blanks
    // --------------- End : ../includes/incl-blanks ---------------

    // --------------- Start : ../includes/incl-comments ---------------
    h1 Comments
    include ../includes/incl-comments
    // --------------- End : ../includes/incl-comments ---------------

    // --------------- Start : ../includes/incl-pipeless-tags ---------------
    h1 Pipeless tags
    include ../includes/incl-pipeless-tags
    // --------------- End : ../includes/incl-pipeless-tags ---------------

    // --------------- Start : ../includes/incl-quotes ---------------
    h1 Quotes
    include ../includes/incl-quotes
    // --------------- End : ../includes/incl-quotes ---------------

    // --------------- Start : ../includes/incl-block-expansion ---------------
    h1 Block Expansion
    include ../includes/incl-block-expansion
    // --------------- End : ../includes/incl-block-expansion ---------------

    // --------------- Start : ../includes/incl-variables ---------------
    h1 Variables
    include ../includes/incl-variables
    // --------------- End : ../includes/incl-variables ---------------

    // --------------- Start : ../includes/incl-variables ---------------
    h1 Variables
    include ../includes/incl-templates
    // --------------- End : ../includes/incl-variables ---------------

    // --------------- Start : ../includes/incl-self-closing ---------------
    h1 Self Closing
    include ../includes/incl-self-closing-tags
    // --------------- End : ../includes/incl-self-closing ---------------



    // --------------- Start : ../includes/incl-text ---------------
    h1 Text
    include ../includes/incl-text
    // --------------- End : ../includes/incl-text ---------------



    // --------------- Start : ../includes/incl-form-fields ---------------
    h1 Form Fields
    include ../includes/incl-form-fields
    // --------------- End : ../includes/incl-form-fields ---------------