<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Block</title>
  </head>
  <body>
    <h1>Block Code</h1>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
    <li>Cuatro</li>
    <li>Cinco</li>
    <li>Seis</li>
    <h1>Block Expansion</h1>
    <!-- without block expansion-->
    <ul>
      <li><a href="#">foo<img src="http://placekitten.com/200/300"></a></li>
      <li><a href="#">bar<img src="http://placekitten.com/200/300"></a></li>
    </ul>
    <!-- /without block expansion-->
    <!-- with block expansion-->
    <ul>
      <li><a href="#">foo<img src="http://placekitten.com/200/300"></a></li>
      <li><a href="#">bar<img src="http://placekitten.com/200/300"></a></li>
    </ul>
    <!-- /with block expansion-->
    <p>baz</p>
    <h1>Block Expansion Shorthands</h1>
    <ul>
      <li class="list-item">
        <div class="foo">
          <div id="bar">baz</div>
        </div>
      </li>
    </ul>
  </body>
</html>