extends ../base
block config
    - pageTitle = "Pug :: case statement"

block main
    // --------------- Start : ../includes/incl-case ---------------
    h1 Basic
    include ../includes/incl-case
    // --------------- End : ../includes/incl-case ---------------

    // --------------- Start : ../includes/incl-comments-case ---------------
    h1 Comments in case
    include ../includes/incl-comments-case
    // --------------- End : ../includes/incl-comments-case ---------------