<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: case statement</title>
  </head>
  <body>
    <!-- --------------- Start : ../includes/incl-case ----------------->
    <h1>Basic</h1>
    <html>
      <body>
        <!-- Start: Example 1-->
        <p>you have no friends</p>
        <!-- End: Example 1-->
        <!-- Start: Example 2-->
        <p>you have a friend</p>
        <!-- End: Example 2-->
        <!-- Start: Example 3-->
        <p>you have very few friends</p>
        <!-- End: Example 3-->
        <!-- Start: Example 4-->
        <p>Friend is a string</p>
        <!-- End: Example 4-->
      </body>
    </html>
    <!-- --------------- End : ../includes/incl-case ----------------->
    <!-- --------------- Start : ../includes/incl-comments-case ----------------->
    <h1>Comments in case</h1>
    <p>It's this!!</p>
    <!-- --------------- End : ../includes/incl-comments-case ----------------->
  </body>
</html>