extends ../base
block config
    - pageTitle = "Pug :: Classes"

block main
    // --------------- Start : ../includes/incl-classes ---------------
    h1 Classes
    include ../includes/incl-classes
    // --------------- End : ../includes/incl-classes ---------------