extends ../base

block config
    - pageTitle = "Pug :: Code"

block main
    // --------------- Start : ../includes/incl-code ---------------
    h1 Basic
    include ../includes/incl-code
    // --------------- End : ../includes/incl-code ---------------