extends ../base
block config
    - pageTitle = "Pug :: Comments";

block main
    h1 comments
    include ../includes/comments

    h1 comments source
    include ../includes/comments-source

    h1 comments source
    include ../includes/comments-in-case
