<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Comments</title>
  </head>
  <body>
    <h1>comments</h1>
    <!-- foo-->
    <ul>
      <!-- bar-->
      <li>one</li>
      <!-- baz-->
      <li>two</li>
    </ul>
    <!--
    ul
      li foo
    -->
    <!-- block
    // inline follow
    li three
    -->
    <!-- block
    // inline followed by tags
    ul
      li four
    -->
    <!--if IE lt 9
    // inline
    script(src='/lame.js')
    // end-inline
    -->
    <p>five</p>
    <div class="foo">// not a comment</div>
    <h1>comments source</h1>
    <h1>comments source</h1><!DOCTYPE html>
    <html>
      <body>
        <p>It's this!</p>
      </body>
    </html>
  </body>
</html>