extends ../base
block config
    - pageTitle = "Pug :: conditionals"

block main
    // --------------- Start : ../includes/incl-conditionals ---------------
    h1 Conditionals
    include ../includes/incl-conditionals
    // --------------- End : ../includes/incl-conditionals ---------------