
<!-- start: doctype default--><!DOCTYPE html>
<html>
  <body>
    <h1>title</h1>
  </body>
</html>
<!-- end: doctype default-->
<!-- start: doctype keyword--><!DOCTYPE html>
<html>
  <body>
    <h1>title</h1>
  </body>
</html>
<!-- end: doctype keyword-->
<!-- start: doctype custom--><!DOCTYPE custom stuff>
<html>
  <body>
    <h1>title</h1>
  </body>
</html>
<!-- end: doctype custom-->
<!-- start: XML doctype--><?xml version="1.0" encoding="utf-8" ?>
<category term="some term"/>
<link>http://google.com</link>
<!-- end: XML doctype-->