extends ../base
block config
    - pageTitle = "Pug :: Doctype";

block main
    h1 doctype keyword
    include ../includes/doctype-keyword

    h1 doctype default
    include ../includes/doctype-default

    h1 doctype custom
    include ../includes/doctype-custom