// start: doctype default
doctype
html
    body
        h1 title

// end: doctype default


// start: doctype keyword
doctype html
html
    body
        h1 title

// end: doctype keyword


// start: doctype custom
doctype custom stuff
html
    body
        h1 title

// end: doctype custom


// start: XML doctype
doctype xml
category(term='some term')/
link http://google.com
// end: XML doctype
