<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Escape</title>
  </head>
  <body>
    <h1>Escape class attributes</h1>
    <foo attr="&lt;%= bar %&gt;"></foo>
    <foo class="&lt;%= bar %&gt;"></foo>
    <foo attr="<%= bar %>"></foo>
    <foo class="<%= bar %>"></foo>
    <foo class="<%= bar %> lol rofl"></foo>
    <foo class="<%= bar %> lol rofl <%= lmao %>"></foo>
    <h1>Escape text</h1><!DOCTYPE html>
    <html>
      <head>
        <title>escape-test</title>
      </head>
      <body>
        <p>I am &lt;strong&gt;Norma&lt;/strong&gt;</p>
        <p>I am <strong>Norma</strong></p>
        <textarea>&lt;param name=&quot;flashvars&quot; value=&quot;a=&lt;value_a&gt;&amp;b=&amp;quot;value_b&amp;quot;&amp;c=3&quot;/&gt;</textarea>
      </body>
    </html>
    <h1>Escape characters</h1>
    <script>
      var re = /\d+/;
      
    </script>
    <script>var re = /\d+/;</script>
    <h1>attributes unescaped</h1>
    <script type="text/x-template">
      <div id="user-<%= user.id %>">
        <h1><%= user.title %></h1>
      </div>
    </script>
    <h1>interpolation escape</h1>
    <foo>
      some
      #{id}
      here
      My ID is {42}
    </foo>
    <h1>code escape</h1>
    <p>&lt;script&gt;</p>
    <p><script></p>
  </body>
</html>