extends ../base
block config
    - pageTitle = "Pug :: Filters";

block main
    h1 Stylus
    include ../includes/filter-stylus

    h1 Filter less
    include ../includes/filter-less

    h1 Filter coffeescript
    include ../includes/filter-coffeescript

    h1 Filter markdown
    include ../includes/filter-markdown

    h1 Filter inline
    include ../includes/filter-inline

    h1 Filter inside include
    include ../includes/filter-inside-include

    h1 Filter include
    include ../includes/filter-include

    h1 Filter empty
    include ../includes/filter-empty

    h1 Filter nested
    include ../includes/filter-nested

    h1 Filter custom
    include ../includes/filter-custom