extends ../base

block config
    - pageTitle = "Pug :: Filters"

block main
    // --------------- Start : ../includes/incl-filter-stylus ---------------
    h1 Stylus
    include ../includes/incl-filter-stylus
    // --------------- End : ../includes/incl-filter-stylus ---------------

    // --------------- Start : ../includes/incl-filter-markdown ---------------
    h1 Markdown
    include ../includes/incl-filter-markdown
    // --------------- End : ../includes/incl-filter-stylus ---------------

    // --------------- Start : ../includes/incl-filter-less ---------------
    h1 Less
    include ../includes/incl-filter-less
    // --------------- End : ../includes/incl-filter-less---------------

    // --------------- Start : ../includes/incl-filter-inline ---------------
    h1 Inline
    include ../includes/incl-filter-inline
    // --------------- End : ../includes/incl-filter-inline ---------------

    // --------------- Start : ../includes/incl-filter-coffeescript ---------------
    h1 Coffeescript
    include ../includes/incl-filter-coffeescript
    // --------------- End : ../includes/incl-filter-coffeescript ---------------

    // --------------- Start : ../includes/incl-filter-nested ---------------
    h1 Nested
    include ../includes/incl-filter-nested
    // --------------- End : ../includes/incl-filter-nested ---------------

    // --------------- Start : ../includes/incl-filter-include ---------------
    h1 Include
    include ../includes/incl-filter-include
    // --------------- End : ../includes/incl-filter-include ---------------

    // --------------- Start : ../includes/incl-filter-in-include ---------------
    h1 Filter In Include
    include ../includes/incl-filter-in-include
    // --------------- End : ../includes/incl-filter-in-include ---------------

    // --------------- Start : ../includes/incl-filter-empty ---------------
    h1 Filter Empty
    include ../includes/incl-filter-empty
    // --------------- End : ../includes/incl-filter-empty ---------------