<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Filters</title>
  </head>
  <body>
    <h1>Stylus</h1>
    <style type="text/css">body {
  padding: 50px;
}

    </style>
    <h1>Filter less</h1>body {
  padding: 15px;
}

    <h1>Filter coffeescript</h1>
    <script type="text/javascript">
      (function() {
  var regexp;

  regexp = /\n/;

}).call(this);
      (function(){}).call(this);
    </script>
    <h1>Filter markdown</h1><p>This is <em>some</em> awesome <strong>markdown</strong>
whoop...</p>
    <h1>Filter inline</h1>
    <p>
      before <![CDATA[inside]]> after</p>
    <p>
      before <p>This is <em>some</em> awesome <strong>markdown</strong></p> after</p>
    <h1>Filter inside include</h1>
    <style type="text/css">body {
  padding: 15px;
}

    </style>
    <h1>Filter include</h1><p>Just <em>some</em> markdown <strong>tests</strong>.</p>
<p>With new line.</p>

    <script>(function(){}).call(this);</script>
    <script>(function() {
  var math;

  math = {
    square: function(value) {
      return value * value;
    }
  };

}).call(this);

    </script>
    <h1>Filter empty</h1>
    <fb:users>
      <fb:user age="2"><![CDATA[]]></fb:user>
    </fb:users>
    <h1>Filter nested</h1>
    <script>
      <!-- uglify-->!function(){console.log("test")}();
      <!-- uglify + cdata--><![CDATA[!function(){console.log("test")}();]]>
    </script>
    <script>
      <!-- coffee-script-->(function() {
  (function() {
    return console.log('test');
  })();

}).call(this);

      <!-- uglify + coffee-script-->(function(){!function(){console.log("test")}()}).call(this);
      <!-- cdata + uglify + coffee-script--><![CDATA[(function(){!function(){console.log("test")}()}).call(this);]]>
    </script>
    <h1>Filter custom</h1>
  </body>
</html>