extends ../base
block config
    - pageTitle = "Pug :: Filters";

block main
    h1 Stylus
    include ../includes/filter-stylus

    h1 Filter inside include
    include ../includes/filter-inside-include

    h1 Filter empty
    include ../includes/filter-empty