// HTML
input(type='checkbox', checked)
input(type='checkbox', checked=true)
input(type='checkbox', checked=false)
|
|
// HTML5
|
|
doctype html
input(type='checkbox', checked)
input(type='checkbox', checked=true)
input(type='checkbox', checked=false)
