extends ../base
block config
    - pageTitle = "Pug :: Includes";

block main
    h1 Includes - Basic
    include ../includes/include-mixins

    // foo is a mixin
    +foo

    // include smile.html
    include ../includes/smile.html

    // include escapes.html
    include ../includes/escapes.html

    script(type="text/javascript")
        include:verbatim ../includes/includable.js

    h1 Includes - Script
    include ../includes/include-script

    h1 Includes - with text
    include ../includes/include-with-text

    h1 Includes - only text
    include ../includes/include-only-text

    h1 Includes - with external JS
    include ../includes/includes-with-external-js

    h1 Includes - yield nested
    include ../includes/include-yield-nested