<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <!-- --------------- Start : Include Basic-->
        <p>bar</p>
    <p>:)</p>
    <script>
  console.log("foo\nbar")
</script>
    
    <script type="text/javascript">


    </script>
    <!-- --------------- End : Include Basic ----------------->
    <!-- --------------- Start : ../includes/incl-include-with-ext-js ----------------->
    <h1>Include JS</h1>
    <pre><code>var x = "\n here is some \n new lined text";</code></pre>
    <!-- --------------- End : ../includes/incl-include-with-ext-js ------------------>
    <!-- --------------- Start : ../includes/incl-include-script ----------------->
    <h1>Include Script</h1>
    <script id="pet-template" type="text/x-template">
      <div class="pet">
        <h1>{{name}}</h1>
        <p>{{name}} is a {{species}} that is {{age}} old</p>
      </div>
    </script>
    <!-- --------------- End : ../includes/incl-include-script ------------------>
    <!-- --------------- Start : ../includes/incl-include-with-text ----------------->
    <h1>Include With Text</h1>
    <head>
      <script type="text/javascript">alert('hello world');</script>
      <script src="/caustic.js"></script>
      <script src="/app.js"></script>
    </head>
    <!-- --------------- End : ../includes/incl-include-with-text ------------------>
    <!-- --------------- Start : ../includes/incl-include-only-text ----------------->
    <h1>Include Only Text</h1>The message is "<em>hello world</em>"
    <!-- --------------- End : ../includes/incl-include-only-text ------------------>
  </body>
</html>