<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Basic</title>
  </head>
  <body>
    <h1>Interpolation</h1>
    <p><a class="rho rho--modifier" href="#">with inline link</a></p>
    <p>some text <a class="rho rho--modifier" href="#"></a></p>
    <p>some text <a class="rho rho--modifier" href="#">with inline link</a></p>
    <h1>Interpolation Mixin</h1>
    <p>This also works <a href="http://www.bing.com">http://www.bing.com</a> so hurrah for Pug
    </p>
    <h1>Interpolation Escape</h1>
    <foo>
      some
      #{id}
      here
      My ID is {42}
    </foo>
  </body>
</html>