extends ../base
block config
    - pageTitle = "Pug :: Interpolation";

block main
    h1 Interpolation
    include ../includes/interpolation

    h1 Interpolation Mixin
    include ../includes/interpolation-mixin

    h1 Interpolation Escape
    include ../includes/interpolation-escape