<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: basic</title>
  </head>
  <body>
    <!-- --------------- Start : ../includes/incl-iteration ----------------->
    <h1>Basic</h1>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <ul>
      <li class="item-0">1</li>
      <li class="item-1">2</li>
      <li class="item-2">3</li>
    </ul>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <ul>
      <li>1: a</li>
      <li>2: a</li>
      <li>3: a</li>
      <li>1: b</li>
      <li>2: b</li>
      <li>3: b</li>
      <li>1: c</li>
      <li>2: c</li>
      <li>3: c</li>
    </ul>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <!-- --------------- End : ../includes/incl-iteration ----------------->
    <!-- --------------- Start : ../includes/incl-while ----------------->
    <h1>While</h1>
    <ul>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <!-- --------------- End : ../includes/incl-while ----------------->
    <!-- --------------- Start : ../includes/incl-each-else ----------------->
    <h1>Each Else</h1>
    <ul>
      <li>no users!</li>
    </ul>
    <ul>
      <li>tobi</li>
      <li>loki</li>
    </ul>
    <ul>
      <li>name: tobi</li>
      <li>age: 10</li>
    </ul>
    <ul>
      <li>user has no details!</li>
    </ul>
    <ul>
      <li>name: tobi</li>
    </ul>
    <!-- --------------- End : ../includes/incl-each-else ----------------->
  </body>
</html>