<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Mixin</title>
  </head>
  <body>
    <h1>Mixin</h1>
    <!-- last mixin is considered-->
    <div id="user">
      <h1>Tobi</h1>
      <div class="comments">
            <div class="comment">
              <h2>I am title: This</h2>
              <p class="body">is regular, javascript</p>
            </div>
      </div>
    </div>
    <body>
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>
    </body>
        <div id="interpolation">This is interpolated</div>
    <h1>Mixin unused</h1>
    <body></body>
    <h1>Mixin merge</h1>
    <body>
          <div>
            <p class="bar hello">One</p>
            <p class="baz quux hello">Two</p>
            <p class="hello">Three</p>
            <p class="bar baz foo hello">Four</p>
          </div>
          <div>
            <p class="bar" id="world">One</p>
            <p class="baz quux" id="world">Two</p>
            <p id="world">Three</p>
            <p class="bar baz foo" id="world">Four</p>
          </div>
          <div>
            <p class="bar hello" id="world">One</p>
            <p class="baz quux hello" id="world">Two</p>
            <p class="hello" id="world">Three</p>
            <p class="bar baz foo hello" id="world">Four</p>
          </div>
          <div>
            <p class="bar hello world">One</p>
            <p class="baz quux hello world">Two</p>
            <p class="hello world">Three</p>
            <p class="bar baz foo hello world">Four</p>
          </div>
          <div>
            <p class="bar hello">One</p>
            <p class="baz quux hello">Two</p>
            <p class="hello">Three</p>
            <p class="bar baz foo hello">Four</p>
          </div>
          <div>
            <p class="bar hello world" id="next">One</p>
            <p class="baz quux hello world" id="next">Two</p>
            <p class="hello world" id="next">Three</p>
            <p class="bar baz foo hello world" id="next">Four</p>
          </div>
          <div>
            <p class="bar hello world" id="next">One</p>
            <p class="baz quux hello world" id="next">Two</p>
            <p class="hello world" id="next">Three</p>
            <p class="bar baz foo hello world" id="next">Four</p>
          </div>
          <div>
            <p class="bar">One</p>
            <p class="baz quux">Two</p>
            <p>Three</p>
            <p class="bar baz foo">Four</p>
          </div>
          <div>
            <p class="bar hello" id="world">One</p>
            <p class="baz quux hello" id="world">Two</p>
            <p class="hello" id="world">Three</p>
            <p class="bar baz foo hello" id="world">Four</p>
          </div>
    </body>
    <h1>Mixin blocks</h1>
    <html>
      <body>
            <form method="GET" action="/search">
              <input type="hidden" name="_csrf" value="hey">
              <input type="text" name="query" placeholder="Search">
              <input type="submit" value="Search">
            </form>
      </body>
    </html>
    <html>
      <body>
            <form method="POST" action="/search">
              <input type="hidden" name="_csrf" value="hey">
              <input type="text" name="query" placeholder="Search">
              <input type="submit" value="Search">
            </form>
      </body>
    </html>
    <html>
      <body>
            <form method="POST" action="/search">
              <input type="hidden" name="_csrf" value="hey">
            </form>
      </body>
    </html>
        <div id="foo">
              <div id="bar">
                <p>one</p>
                <p>two</p>
                <p>three</p>
              </div>
        </div>
        <div id="baz">123
        </div>
    <h1>Mixin blocks tag behaviour</h1>
    <html>
      <body>
            <section class="article">
              <h1>Foo</h1>
              <p>I'am article one foo</p>
            </section>
      </body>
    </html>
    <html>
      <body>
            <section class="article">
              <h1>Something</h1>
              <p>
                I'm a much longer
                text-only article,
                but you can still
                inline html tags
                in me if you want.
              </p>
            </section>
      </body>
    </html>
    <html>
      <body>
            <section class="article">
              <h1>Something</h1>
              <p>
                I'm a much longer
                text-only article,
                but you can still
                inline html tags
                in me if you want.
              </p>
            </section>
      </body>
    </html>
  </body>
</html>