<!DOCTYPE html>
<html>
  <head>
    <title>Pug :: Yield</title>
  </head>
  <body>
    <h1>Yield Head</h1>
    <html>
      <body>
        <head>
          <script src="/jquery.js"></script>
          <script src="/caustic.js"></script>
          <script src="/app.js"></script>
          <script src="/jquery.ui.js"></script>
        </head>
      </body>
    </html>
    <h1>Yield Title Head</h1>
    <html>
      <body>
        <head>
          <title>My Title</title>
          <script src="/jquery.js"></script>
          <script src="/jquery.ui.js"></script>
        </head>
      </body>
    </html>
    <h1>Yield Before Conditional</h1>
    <html>
      <body>
        <head>
          <script src="/jquery.js"></script>
          <script src="/caustic.js"></script>
          <script src="/app.js"></script>
        </head>
      </body>
    </html>
  </body>
</html>