extends ../base
block config
    - pageTitle = "Pug :: Attributes";

block main
    h1 Data Attributes
    include ../includes/attrs-data

    h1 Colon Attributes
    include ../includes/attrs-colon

    h1 Attributes Using JS
    include ../includes/attrs-js
