extends ../base
block config
    - pageTitle = "Pug :: Code";

block main
    h1 Code
    include ../includes/code

    h1 Code Iteration
    include ../includes/code-iteration

    h1 Code Escape
    include ../includes/code-escape

    h1 Code Conditionals
    include ../includes/code-conditionals

